@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('img/2.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .inicio-sesion-header {
            background-color: rgb(30, 144, 255);

            text-align: center;
            margin-bottom: 20px;
        }

           
              

            .inicio-sesion-header img {
                max-width: 40%;
                height: auto;
                border-radius: 50%; /* Añadir un borde redondeado a la imagen si es necesario */
                border: 2px solid #fff; /* Añadir un borde blanco alrededor de la imagen */
            }

            .inicio-sesion-header p {
                font-size: 18px;
                font-weight: bold;
                margin-top: 10px;
                color:black/* Color del texto blanco */
            }

        .inicio-sesion-form {
            background-color: rgb(30, 144, 255);
            padding: 20px;
            border-radius: 10px;
            width: 100%;
        }

        .text-danger {
            display: none;
            color: red;
        }

        .form-control:invalid + .text-danger {
            display: block;
        }
    </style>
</head>
<body>

    <div class="container">

        <div class="row justify-content-end">
            <div class="col-12 col-xl-4 col-md-6">
                <div class="opacity-75">
                <div class="card">
                    <div class="inicio-sesion-header">
                        <h1 style="color:black;">Inventario</h1>
                        <img src="~/img/1.webp" alt="Imagen de Inicio de Sesión" />
                      
                    </div>

                    <center>

                        <h2>Iniciar Sesión</h2>
                        
                    </center>

                    <div class="card-body inicio-sesion-form">
                        <form asp-controller="Login" asp-action="IniciarSesion" method="post">
                            <!-- Tu formulario aquí -->
                            <div class="mb-3">
                                <label for="correo" class="form-label">Correo</label>
                                <input class="form-control" type="text" placeholder="Correo" required name="correo" />
                                <span class="text-danger" id="error-correo"></span>
                            </div>

                            <div class="mb-3">
                                <label for="clave" class="form-label">Contraseña</label>
                                <input class="form-control" type="password" placeholder="Contraseña" required name="clave" />
                                <span class="text-danger" id="error-clave"></span>
                            </div>

                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
                            </div>

                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }

                            <div class="mb-3">
                                ¿No tienes una cuenta? <a href="@Url.Action("Registro","Login")"> Regístrate</a>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

    </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

