@model ProyectoInventario.Models.Entidades.Producto

@{
    ViewData["Title"] = "Crear";
    Layout = null;
}

<div class=" col-md-12">
    <div class=" card">
        <div class=" card-header text-center">
            <h5> INGRESOS DE PRODUCTOS </h5>
        </div>
        <div class=" card-body text-center">
            <form asp-action="Crear">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Ingrese nombre del Producto</label>
                    <input asp-for="NombreProducto" class="form-control" placeholder="Ingrese un Nombre" />
                    <span asp-validation-for="NombreProducto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>precio</label>
                    <input asp-for="Precio" class="form-control" placeholder="Ingrese el Precio" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Stock</label>
                    <input asp-for="Stock" class="form-control" placeholder="Ingrese el Stock" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Imagen" class="form-label">Imagen del Producto</label>
                    <input type="file" class="form-control" name="Imagen" required />
                    <div class="invalid-feedback">
                        Por favor, selecciona una imagen.
                    </div>
                </div>
                <div class="form-group">
                    <label>Activo:</label>
                    <input asp-for="Activo" class="form-check-input" />
                </div>

                <div class="form-group">
                    <label>Marca</label>
                    <input asp-for="Marca" class="form-control" placeholder="Ingrese La Marca" />
                    <span asp-validation-for="Marca" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Modelo</label>
                    <input asp-for="Modelo" class="form-control" placeholder="Ingrese El Modelo" />
                    <span asp-validation-for="Modelo" class="text-danger"></span>
                </div>
                <div class=" card-footer ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Guardar</button>
                        <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

